// Primary colours
$bandsite-black: #323232;
$silver: #AFAFAF;

// Secondary colours
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


// Spacing and dimensions
$padding: 16px;
$full-width-height: 100%;
$font-weight-heavy: 700;
$font-weight-regular: 400;