@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

/* fonts mobile */
body {
  margin: 0;
}

.nav-bar__list__item,
.about-info__band {
  @include subHeader-font-mob;
}

.hero__text,
.about-info__header,
.photo-gallery__header,
.footer__body__block__header {
  @include p-s-header-font-mob;
}

.about-info__paragraphs__p1,
.about-info__paragraphs__p2,
.footer__body__block__s-header,
.footer__body__block,
.footer__body__block__copy,
.about-info__quote,
.about-info__by {
  @include b-f-font-mob;
}

.about-info__quote,
.about-info__by,
.hero__text,
.about-info__header,
.photo-gallery__header,
.footer__body__block__header {
  font-family: 'Avenir demi';
}

.nav-bar__list__item,
.about-info__paragraphs__p1,
.about-info__paragraphs__p2,
.footer__body__block__s-header,
.footer__body__block,
.footer__body__block__copy,
.about-info__band {
  font-family: 'Avenir regular';
}


/* navigation bar mobile */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: $full-width-height;
}

.nav-bar {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  flex-wrap: wrap;

  &__band-icon {
    width: $full-width-height;
    text-align: center;
    padding: 0.5rem;
    padding-top: 0.938rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    text-decoration: none;

    &__item {
      width: 50%;
      text-align: center;
      padding-bottom: 0.625rem;
      text-decoration: none;
      color: #AFAFAF;

      &:hover {
        border-bottom: 3px solid white;
      }

      &:active {
        color: white;
        font-weight: bold;
      }
    }
  }
}


// hero section mobile

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  //used px because % cannot is capped and cannot create desired height
  height: 200px;
  background-size: $full-width-height;
  background-repeat: no-repeat;

  &__image {
    width: $full-width-height;
    margin: 0;
  }

  &__text {
    color: white;
    left: $padding;
    top: 42%;
    margin: 0px;
    padding-left: 0.938rem;
  }

  &__filter {
    background-color: rgba(50, 50, 50, 0.5);
    height: $full-width-height;
    display: flex;
    align-items: center;
  }
}


// about the musicians section mobile
.about-info {
  display: flex;
  flex-wrap: wrap;
  padding-right: $padding;
  padding-left: $padding;

  &__quote,
  &__by {
    line-height: 1.375rem;
    margin: 0;
    margin-bottom: 0.313rem;
  }

  &__quote {
    width: 93%;
  }

  &__paragraphs__p2,
  &__paragraphs__p1 {
    padding-bottom: $padding;
    margin: 0;
    width: 97%;
  }

  &__paragraphs__p1 {
    width: 96%;
  }


  &__header {
    width: $full-width-height;
    margin: 0;
    padding-bottom: $padding;
    padding-top: 1.5rem;
  }

  &__image {
    width: 289px;
    height: 170px;
    padding-bottom: $padding;
  }
}

// photo gallery mobile

.photo-gallery {
  background-color: #FAFAFA;
  padding: $padding;
  padding-bottom: 0;

  &__header {
    margin: 0;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
  }

  &__photos__item {
    width: $full-width-height;
    margin-bottom: 0.625rem;

  }
}


// footer section mobile

.footer {
  background-color: #323232;
  color: white;
  padding: $padding;

  &__body {

    &__block {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;

      &__icons {
        width: 41%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.875rem;
      }

      &__s-header,
      &__info {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
      }

      &__info {
        font-size: 0.75rem;
      }

      &__info p {
        margin-top: 0.313rem;
        margin-bottom: 0.313rem;
      }


      &__copy {
        margin-top: 0.925rem;
        font-size: 0.68rem;
      }

      &__bandsite-logo {
        margin-top: 1.563rem;
      }
    }
  }
}



// TABLET

@media screen and (min-width: 768px) {

  //Fonts tablet and desktop
  .nav-bar__list__item,
  .hero__text,
  .about-info__header,
  .footer,
  .about-info__paragraphs__p1,
  .about-info__paragraphs__p2,
  .footer__body__block__copy {
    font-family: 'Avenir regular';
  }

  .photo-gallery__header,
  .footer__body__block__header,
  .about-info__quote,
  .about-info__band,
  .about-info__by,
  .about-info__header {
    font-family: 'Avenir demi';
  }

  .nav-bar__list__item {
    @include labelsANDbuttons-font-d-t;
  }

  .hero__text {
    @include p-header-font-d-t;
  }

  .about-info__header,
  .photo-gallery__header,
  .footer__body__block__header {
    @include s-header-font-d-t;
  }

  .footer__body__block__s-header,
  .footer {
    @include f-font-d-t;
  }

  .about-info__quote,
  .about-info__band {
    @include subHeader-font-d-t;
  }

  .about-info__by,
  .about-info__paragraphs__p1,
  .about-info__paragraphs__p2 {
    @include b-font-d-t;
  }



  // navigation bar
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: $full-width-height;
  }

  .nav-bar {

    &__band-icon {
      width: 20%;
      margin-right: 1.563rem;
      align-self: center;
      padding-bottom: 1.25rem;
    }

    &__list {
      width: 30%;

      &__item {
        width: 43%;
        padding-bottom: 1.563rem;
        padding-top: 1.25rem;
      }
    }
  }


  // hero section
  .hero {
    //used px because % cannot is capped and cannot create desired height
    height: 450px;
    background-position: center -60px;

    &__text {
      padding-left: 2.5rem;
    }
  }


  // about musicians
  .about-info {
    &__body {
      padding-left: 5.313rem;
      padding-right: 5.313rem;
      padding-bottom: 1.25rem
    }

    &__band {
      margin: 0;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    &__quote {
      width: 100%;
      font-size: 1.375rem;
    }

    &__by {
      margin: 0;
      margin-top: 0.625rem;
    }

    &__paragraphs {
      display: flex;
      flex-wrap: wrap;
      gap: 0.688rem;

      &__p2,
      &__p1 {
        padding-bottom: $padding;
        margin: 0;
        width: 49%;
      }

      &__p1 {
        width: 49%;
      }
    }

    &__header {
      margin: 0;
      padding: 0;
      margin-bottom: 1.25rem;
      margin-top: 2.5rem;
      margin-left: 1.875rem;
    }

    &__image {
      width: $full-width-height;
      height: 320px;
      width: 560px;
      margin-bottom: 1.25rem;
    }
  }


  // photo gallery section
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: $padding;
    padding-bottom: 2.5rem;

    &__header {
      margin: 0;
      margin-bottom: 1.25rem;
      margin-top: 1.875rem;
      margin-left: 1.875rem;
    }

    &__photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.563rem;

      &__item {
        margin: 0;
        width: 28%;

        &:hover {
          width: 400px;
          height: 300px;
          border: black solid 5px;
        }
      }
    }
  }

  // footer
  .footer {
    padding: 3.125rem;
    padding-top: 2.5rem;
    position: relative;


    &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 97%;

      &__block1 {
        margin-left: 1.25rem;
      }

      &__block {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        max-width: $full-width-height;


        &__icons {
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__s-header,
        &__info {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
        }

        &__info p {
          margin-top: 0.313rem;
          margin-bottom: 0.313rem;
        }

        &__header {
          width: 31%;
          margin: 0;
          margin-bottom: 2.5rem;
          margin-right: 2.188rem;
        }

        &__copy {
          width: $full-width-height;
          margin: 0;
          margin-top: 0.938rem;
          font-size: 0.75rem;
        }

        &__bandsite-logo {
          position: absolute;
          left: 78%;
          top: 15%;
          margin: 0;
        }
      }

      &__block-large {
        display: flex;
        flex-wrap: wrap;
        width: $full-width-height;
        margin-top: 0.313rem;
        height: 40px;
        align-items: center;
        margin-bottom: 0.938rem;
      }
    }
  }

}



// DESKTOP
@media screen and (min-width: 1280px) {

  // navigation bar
  .nav-bar {
    height: 80px;

    &__list {
      width: 16%;

      &__item {
        padding: 0;
        padding-top: 3.125rem;
        padding-bottom: 1.25rem;
      }
    }

    &__band-icon {
      margin: 0;
      margin-left: 7.5rem;
      margin-right: 3.75rem;
      width: 8%;
      padding-top: 2.188rem;
    }
  }

  nav {
    height: 80%;
  }


  // hero section  
  .hero {
    //used px because % cannot is capped and cannot create desired height
    height: 620px;

    &__text {
      padding-left: 8.125rem;
    }
  }

  // about musicians section
  .about-info {
    padding: 0;
    padding-left: 6.875rem;
    padding-right: 6.875rem;

    &__header {
      margin-top: 3.125rem;
      margin-bottom: 1.875rem;
    }

    &__quote {
      width: 78%;
    }

    &__band {
      margin-bottom: 1.25rem;
    }

    &__body {
      height: 50%;
      padding-left: 6.875rem;
      padding-right: 6.875rem;
    }

    &__image {
      width: $full-width-height;
      height: 500px;
      width: 900px;
    }

    &__paragraphs {
      justify-content: space-between;

      &__p1 {
        width: 49%;
      }
    }
  }

  .photo-gallery {
    padding-left: 4.375rem;
    padding-right: 4.375rem;

    &__photos {
      width: $full-width-height;

      &__item {
        width: 27%;

        &:hover {
          width: 500px;
          height: 300px;
          border: solid black 10px;
        }
      }

    }

    &__header {
      width: $full-width-height;
      margin-left: 5rem;
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
    }

  }


  // footer section
  .footer {
    padding-left: 9.375rem;
    padding-right: 9.375rem;

    &__body {
      width: 78%;

      &__block {

        &__copy {
          font-size: 0.75rem;
        }

        &__header {
          width: 23%;

        }

        &__icons {
          width: 12%;
        }
      }
    }

  }
}