@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

/* fonts */

body {
  font-family: 'Avenir regular';
}

body {
  margin: 0;
}

/* navigation bar */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: 100%;
}

.nav-bar {
  background-color: #323232;
  color: #E1E1E1;
  display: flex;
  flex-wrap: wrap;

  &__band-icon {
    width: 100%;
    text-align: center;
    padding: 8px;
    padding-top: 15px;

    &__image {
      width: 115px;
      margin: 0;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      height: 24px;
      font-weight: 10;
      height: 20px;
    }

  }

  &__list {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;

    &__item {
      width: 50%;
      text-align: center;
      padding-bottom: 10px;
    }

    &__item--selected {
      border-bottom: 3px solid white;
    }
  }
}


// hero section

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;

  &__image {
    width: 100%;
    margin: 0;
  }

  &__text {
    color: white;
    left: 16px;
    top: 42%;
    margin: 0px;
    padding-left: 15px;
    font-size: 24px;
    font-family: 'Avenir regular';
    font-weight: 300;
  }

  &__filter {
    background-color: rgba(50, 50, 50, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
  }
}


// about the musicians section
.about-info {
  display: flex;
  flex-wrap: wrap;
  padding-right: 16px;
  padding-left: 16px;

  &__band {
    font-size: 14.5px;
    font-weight: 600;
  }

  &__quote,
  &__by {
    line-height: 22px;
    font-size: 14.5px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 5px;
  }

  &__paragraphs__p2,
  &__paragraphs__p1 {
    padding-bottom: 16px;
    margin: 0;
    @include b-f-font-mob;
    width: 97%;
  }

  &__paragraphs__p1 {
    width: 96%;
  }


  &__header {
    width: 100%;
    font-family: 'Avenir light';
    margin: 0;
    padding-bottom: 16px;
    padding-top: 24px;
  }

  &__image {
    width: 288px;
    height: 160px;
    padding-bottom: 16px;
  }
}

// photo gallery

.photo-gallery {
  background-color: #FAFAFA;
  padding: 16px;
  padding-bottom: 0;

  &__header {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    @include p-s-header-font-mob;
    font-weight: 1000;
  }

  &__photos__item {
    width: 100%;
    margin-bottom: 10px;
  }
}


// footer section

.footer {
  background-color: #323232;
  color: white;
  padding: 16px;
  @include f-font-d-t;

  &__body {

    &__block {
      margin-top: 10px;
      margin-bottom: 10px;

      &__icons {
        height: 22px;
        width: 41%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }

      &__s-header,
      &__info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
      }

      &__info {
        font-weight: 300;
        font-size: 12px;
      }

      &__info p {
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      &__header {
        font-weight: 700;
      }

      &__copy {
        font-size: 11px;
        font-weight: 300;
        margin-top: 10px;
      }

      &__bandsite-logo {
        margin-top: 25px;
      }
    }
  }
}


// mobile
@media screen and (max-width: 320px) {}


// tablet
@media screen and (min-width: 768px) {


  // navigation bar
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: 100%;
  }

  .nav-bar {

    &__band-icon {
      width: 20%;
      margin-right: 25px;
      align-self: center;
    }

    &__list {
      width: 30%;

      &__item {
        width: 43%;
        padding-bottom: 25px;
        padding-top: 20px;
      }
    }
  }


  // hero section
  .hero {
    height: 450px;
    background-position: center -60px;

    &__text {
      padding-left: 40px;
      font-size: 60px;
      font-family: 'Avenir regular';
      font-weight: 700;
    }
  }


  // about musicians
  .about-info {
    &__body {
      padding-left: 85px;
      padding-right: 85px;
      padding-bottom: 20px
    }

    &__band {
      @include subHeader-font-d-t;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    &__quote {
      @include subHeader-font-d-t;
      font-size: 22px;
    }

    &__by {
      @include b-font-d-t;
      font-weight: 900;
      margin: 0;
      margin-top: 10px;
    }

    &__paragraphs {
      display: flex;
      flex-wrap: wrap;
      gap: 11px;

      &__p2,
      &__p1 {
        padding-bottom: 16px;
        margin: 0;
        @include b-font-d-t;
        width: 49%;
      }

      &__p1 {
        width: 49%;
        font-size: 14px;

      }
    }

    &__header {
      font-family: 'Avenir light';
      font-size: 36px;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      margin-top: 40px;
      margin-left: 30px;
    }

    &__image {
      width: 550px;
      height: 300px;
      margin-bottom: 20px;
    }
  }


  // photo gallery section
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    padding-bottom: 40px;

    &__header {
      margin: 0;
      margin-bottom: 20px;
      margin-top: 30px;
      margin-left: 30px;
      @include s-header-font-d-t;
    }

    &__photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      width: 768px;

      &__item {
        margin: 0;
        width: 28%;
      }
    }
  }

  // footer
  .footer {
    padding: 50px;
    padding-top: 40px;
    position: relative;


    &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include f-font-d-t;
      width: 655px;

      &__block1 {
        margin-left: 20px;
      }

      &__block {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100%;


        &__icons {
          height: 40px;
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__s-header,
        &__info {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 13px;
        }

        &__info {
          font-weight: 300;
          font-size: 12px;
        }

        &__info p {
          font-weight: 300;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        &__header {
          @include s-header-font-d-t;
          font-weight: 700;
          width: 31%;
          margin: 0;
          margin-bottom: 40px;
          margin-right: 27px;
          height: 40px;
        }

        &__copy {
          font-size: 11px;
          font-weight: 300;
          width: 100%;
          margin: 0;
          margin-top: 15px;
        }

        &__bandsite-logo {
          position: absolute;
          left: 78%;
          top: 15%;
          margin: 0;
        }
      }

      &__block-large {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5px;
        height: 30px;
        align-items: center;
        margin-bottom: 15px;
      }
    }
  }

}



// desktop
@media screen and (max-width: 1280px) {





  
}