@font-face {
  font-family: "Avenir regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir light";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}
@font-face {
  font-family: "Avenir bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}
/* fonts */
body {
  font-family: "Avenir regular";
}

body {
  margin: 0;
}

/* navigation bar */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: 100%;
}

.nav-bar {
  background-color: #323232;
  color: #E1E1E1;
  display: flex;
  flex-wrap: wrap;
}
.nav-bar__band-icon {
  width: 100%;
  text-align: center;
  padding: 8px;
  padding-top: 15px;
}
.nav-bar__band-icon__image {
  width: 115px;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  height: 24px;
  font-weight: 10;
  height: 20px;
}
.nav-bar__list {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}
.nav-bar__list__item {
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
}
.nav-bar__list__item--selected {
  border-bottom: 3px solid white;
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero__image {
  width: 100%;
  margin: 0;
}
.hero__text {
  color: white;
  left: 16px;
  top: 42%;
  margin: 0px;
  padding-left: 15px;
  font-size: 24px;
  font-family: "Avenir regular";
  font-weight: 300;
}
.hero__filter {
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  padding-right: 16px;
  padding-left: 16px;
}
.about-info__band {
  font-size: 14.5px;
  font-weight: 600;
}
.about-info__quote, .about-info__by {
  line-height: 22px;
  font-size: 14.5px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 5px;
}
.about-info__paragraphs__p2, .about-info__paragraphs__p1 {
  padding-bottom: 16px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 97%;
}
.about-info__paragraphs__p1 {
  width: 96%;
}
.about-info__header {
  width: 100%;
  font-family: "Avenir light";
  margin: 0;
  padding-bottom: 16px;
  padding-top: 24px;
}
.about-info__image {
  width: 288px;
  height: 160px;
  padding-bottom: 16px;
}

.photo-gallery {
  background-color: #FAFAFA;
  padding: 16px;
  padding-bottom: 0;
}
.photo-gallery__header {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-weight: 1000;
}
.photo-gallery__photos__item {
  width: 100%;
  margin-bottom: 10px;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer__body__block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__body__block__icons {
  height: 22px;
  width: 41%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer__body__block__s-header, .footer__body__block__info {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 13px;
}
.footer__body__block__info {
  font-weight: 300;
  font-size: 12px;
}
.footer__body__block__info p {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer__body__block__header {
  font-weight: 700;
}
.footer__body__block__copy {
  font-size: 11px;
  font-weight: 300;
  margin-top: 10px;
}
.footer__body__block__bandsite-logo {
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: 100%;
  }
  .nav-bar__band-icon {
    width: 20%;
    margin-right: 25px;
    align-self: center;
  }
  .nav-bar__list {
    width: 30%;
  }
  .nav-bar__list__item {
    width: 43%;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  .hero {
    height: 450px;
    background-position: center -60px;
  }
  .hero__text {
    padding-left: 40px;
    font-size: 60px;
    font-family: "Avenir regular";
    font-weight: 700;
  }
  .about-info__body {
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 20px;
  }
  .about-info__band {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .about-info__quote {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-size: 22px;
  }
  .about-info__by {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-weight: 900;
    margin: 0;
    margin-top: 10px;
  }
  .about-info__paragraphs {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
  }
  .about-info__paragraphs__p2, .about-info__paragraphs__p1 {
    padding-bottom: 16px;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 49%;
  }
  .about-info__paragraphs__p1 {
    width: 49%;
    font-size: 14px;
  }
  .about-info__header {
    font-family: "Avenir light";
    font-size: 36px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 30px;
  }
  .about-info__image {
    width: 550px;
    height: 300px;
    margin-bottom: 20px;
  }
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    padding-bottom: 40px;
  }
  .photo-gallery__header {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .photo-gallery__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 768px;
  }
  .photo-gallery__photos__item {
    margin: 0;
    width: 28%;
  }
  .footer {
    padding: 50px;
    padding-top: 40px;
    position: relative;
  }
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 655px;
  }
  .footer__body__block1 {
    margin-left: 20px;
  }
  .footer__body__block {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
  }
  .footer__body__block__icons {
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__body__block__s-header, .footer__body__block__info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
  }
  .footer__body__block__info {
    font-weight: 300;
    font-size: 12px;
  }
  .footer__body__block__info p {
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer__body__block__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    font-weight: 700;
    width: 31%;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 27px;
    height: 40px;
  }
  .footer__body__block__copy {
    font-size: 11px;
    font-weight: 300;
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .footer__body__block__bandsite-logo {
    position: absolute;
    left: 78%;
    top: 15%;
    margin: 0;
  }
  .footer__body__block-large {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    height: 30px;
    align-items: center;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .nav-bar {
    height: 80px;
  }
  .nav-bar__list {
    width: 160px;
  }
  .nav-bar__list__item {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .nav-bar__band-icon {
    margin: 0;
    margin-left: 120px;
    margin-right: 60px;
    width: 100px;
  }
  nav {
    height: 80%;
  }
  .hero {
    height: 620px;
  }
  .hero__text {
    padding-left: 130px;
  }
  .about-info {
    padding: 0;
    padding-left: 110px;
    padding-right: 110px;
  }
  .about-info__quote {
    width: 77%;
  }
  .about-info__body {
    padding-left: 110px;
    padding-right: 110px;
  }
  .about-info__image {
    width: 100%;
    height: 45%;
  }
  .about-info__paragraphs {
    justify-content: space-between;
  }
  .about-info__paragraphs__p1 {
    width: 49%;
  }
}/*# sourceMappingURL=bio.css.map */