@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/typography' as *;

/* fonts mobile */
body {
  margin: 0;
  font-family: 'Avenir';
}

.nav-bar__list__item,
.about-info__band {
  @include subHeader-font-mob;
}

.hero__text,
.about-info__header,
.photo-gallery__header,
.footer__body__block__header {
  @include p-s-header-font-mob;
}

.about-info__paragraphs__p1,
.about-info__paragraphs__p2,
.footer__body__block__s-header,
.footer__body__block,
.footer__body__block__copy,
.about-info__quote,
.about-info__by {
  @include b-f-font-mob;
}






/* navigation bar mobile */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: $full-width-height;
}

.nav-bar {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  flex-wrap: wrap;

  &__band-icon {
    width: $full-width-height;
    text-align: center;
    padding: 0.5rem;
    padding-top: 0.938rem;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    text-decoration: none;

    &__item {
      width: 50%;
      text-align: center;
      padding-bottom: 0.625rem;
      text-decoration: none;
      color: #AFAFAF;
      font-weight: 300;

      &--selected {
        border-bottom: 3px solid white;
        color: white;
      }

      &:hover {
        border-bottom: 3px solid white;
      }
    }
  }
}


// hero section mobile

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  //used px because % cannot is capped and cannot create desired height
  height: 200px;
  background-size: $full-width-height;
  background-repeat: no-repeat;

  &__image {
    width: $full-width-height;
    margin: 0;
  }

  &__text {
    color: white;
    left: $padding;
    top: 42%;
    margin: 0px;
    padding-left: 0.938rem;
    font-weight: 600;
  }

  &__filter {
    background-color: rgba(50, 50, 50, 0.5);
    height: $full-width-height;
    display: flex;
    align-items: center;
  }
}


// about the musicians section mobile
.about-info {
  display: flex;
  flex-wrap: wrap;
  padding-right: $padding;
  padding-left: $padding;

  &__quote,
  &__by {
    line-height: 1.375rem;
    margin: 0;
    margin-bottom: 0.313rem;
    font-weight: 600;
  }

  &__quote {
    width: 93%;
  }

  &__paragraphs__p2,
  &__paragraphs__p1 {
    padding-bottom: $padding;
    margin: 0;
    width: 97%;
  }

  &__paragraphs__p1 {
    width: 96%;
  }


  &__header {
    width: $full-width-height;
    margin: 0;
    padding-bottom: $padding;
    padding-top: 1.5rem;
    font-weight: 600;
  }

  &__image {
    width: 289px;
    height: 170px;
    padding-bottom: $padding;
  }
}

// photo gallery mobile

.photo-gallery {
  background-color: #FAFAFA;
  padding: $padding;
  padding-bottom: 0;

  &__header {
    margin: 0;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    font-weight: 600;
  }

  &__photos__item {
    width: $full-width-height;
    margin-bottom: 0.625rem;

  }
}

// COMMENT SECTION

.comments {
  height: 300px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    height: 10%;
    font-weight: 600;
  }
}

.avatar {
  background-image: url(../assets/Images/Mohan-muruge.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: 35px;
}

.input {
  width: 80%;

  &___comment,
  &__name {
    width: 222px;
  }

  &__name-label,
  &__comment-label {
    color: #AFAFAF;
    @include b-f-font-mob;
    width: 100%;
  }

  &__button {
    background-color: #323232;
    color: white;
    border: 5px;
    width: 100%;
  }

}

// footer section mobile

//footer
.footer {
  background-color: #323232;
  color: white;
  padding: $padding;

  &__body {

    &__block {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;

      &__header {
        font-weight: 600;
        margin: 0;
        margin-bottom: 15px;
      }

      &__icons {
        width: 41%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      &__s-header,
      &__info {
        margin-top: 1.25rem;
        margin-bottom: 1rem;
      }

      &__info p {
        margin: 0;
      }

      &__s-header {
        font-weight: 600;
      }

      &__info {
        font-size: 0.75rem;
        margin: 0;

        &--bold {
          margin-top: 15px;
          margin-bottom: 25px;
        }
      }

      &__copy {
        margin-top: 0.925rem;
        font-size: 0.68rem;
      }

      &__bandsite-logo {
        margin-top: 1.563rem;
      }
    }
  }
}



// TABLET

@media screen and (min-width: 768px) {

  //Fonts tablet and desktop

  .nav-bar__list__item {
    @include labelsANDbuttons-font-d-t;
  }

  .hero__text {
    @include p-header-font-d-t;
  }

  .about-info__header,
  .photo-gallery__header,
  .footer__body__block__header {
    @include s-header-font-d-t;
  }

  .footer__body__block__s-header,
  .footer {
    @include f-font-d-t;
  }

  .about-info__quote,
  .about-info__band {
    @include subHeader-font-d-t;
  }

  .about-info__by,
  .about-info__paragraphs__p1,
  .about-info__paragraphs__p2 {
    @include b-font-d-t;
  }



  // navigation bar
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: $full-width-height;
  }

  .nav-bar {

    &__band-icon {
      width: 20%;
      margin-right: 1.563rem;
      align-self: center;
      padding-bottom: 1.25rem;
    }

    &__list {
      width: 30%;

      &__item {
        width: 43%;
        padding-bottom: 1.563rem;
        padding-top: 1.25rem;
      }
    }
  }


  // hero section
  .hero {
    //used px because % cannot is capped and cannot create desired height
    height: 450px;
    background-position: center -60px;

    &__text {
      padding-left: 2.5rem;
    }
  }


  // about musicians
  .about-info {
    &__body {
      padding-left: 5.313rem;
      padding-right: 5.313rem;
      padding-bottom: 1.25rem
    }

    &__band {
      margin: 0;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    &__quote {
      width: 100%;
      font-size: 1.375rem;
    }

    &__by {
      margin: 0;
      margin-top: 0.625rem;
    }

    &__paragraphs {
      display: flex;
      flex-wrap: wrap;
      gap: 0.688rem;

      &__p2,
      &__p1 {
        padding-bottom: $padding;
        margin: 0;
        width: 49%;
      }

      &__p1 {
        width: 49%;
      }
    }

    &__header {
      margin: 0;
      padding: 0;
      margin-bottom: 1.25rem;
      margin-top: 2.5rem;
      margin-left: 1.875rem;
    }

    &__image {
      width: $full-width-height;
      height: 320px;
      width: 560px;
      margin-bottom: 1.25rem;
    }
  }


  // photo gallery section
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: $padding;
    padding-bottom: 2.5rem;

    &__header {
      margin: 0;
      margin-bottom: 1.25rem;
      margin-top: 1.875rem;
      margin-left: 1.875rem;
    }

    &__photos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.563rem;

      &__item {
        margin: 0;
        width: 28%;

        &:hover {
          width: 400px;
          height: 300px;
          border: black solid 5px;
        }
      }
    }
  }

  // footer
  .footer {
    padding: 3.125rem;
    padding-top: 2.5rem;
    position: relative;

    &__body {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &-top {
        width: 100%;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
      }

      &__block1 {
        margin-left: 1.25rem;
      }

      &__block {
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
        max-width: $full-width-height;

        &--large {
          display: flex;
          flex-wrap: wrap;
          height: 50px;
          margin: 0;
          align-content: end;
          margin-bottom: 10px;
        }

        &__icons {
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          align-items: end;
        }

        &__s-header,
        &__info {
          margin-top: 1.25rem;
          margin-bottom: 1.25rem;
          font-size: 14px;
        }


        &__info p {
          margin-top: 0.313rem;
          margin-bottom: 0.313rem;
          font-weight: 300;
        }

        &__header {
          width: 31%;
          margin: 0;
          @include s-header-font-d-t;
          margin-right: 20px;
          height: 38px;
        }

        &__copy {
          width: $full-width-height;
          margin: 0;
          margin-top: 0.938rem;
          font-size: 0.75rem;
        }

        &__bandsite-logo {
          position: absolute;
          left: 79%;
          top: 15%;
          margin: 0;
        }
      }

      &__block-large {
        display: flex;
        flex-wrap: wrap;
        width: $full-width-height;
        margin-top: 0.313rem;
        height: 40px;
        align-items: center;
        margin-bottom: 0.938rem;
      }
    }
  }

}



// DESKTOP
@media screen and (min-width: 1280px) {

  // navigation bar
  .nav-bar {
    height: 80px;

    &__list {
      width: 16%;

      &__item {
        padding: 0;
        padding-top: 3.125rem;
        padding-bottom: 1.25rem;
      }
    }

    &__band-icon {
      margin: 0;
      margin-left: 7.5rem;
      margin-right: 3.75rem;
      width: 8%;
      padding-top: 2.188rem;
    }
  }

  nav {
    height: 80%;
  }


  // hero section  
  .hero {
    //used px because % cannot is capped and cannot create desired height
    height: 620px;

    &__text {
      padding-left: 8.125rem;
    }
  }

  // about musicians section
  .about-info {
    padding: 0;
    padding-left: 6.875rem;
    padding-right: 6.875rem;

    &__header {
      margin-top: 3.125rem;
      margin-bottom: 1.875rem;
    }

    &__quote {
      width: 73%;
    }

    &__band {
      margin-bottom: 1.25rem;
    }

    &__body {
      height: 50%;
      padding-left: 6.875rem;
      padding-right: 6.875rem;
    }

    &__image {
      width: $full-width-height;
      height: 500px;
      width: 900px;
    }

    &__paragraphs {
      justify-content: space-between;

      &__p1 {
        width: 49%;
      }
    }
  }

  .photo-gallery {
    padding-left: 30px;
    padding-right: 30px;

    &__photos {
      width: $full-width-height;

      &__item {
        width: 27%;

        &:hover {
          width: 500px;
          height: 300px;
          border: solid black 10px;
        }
      }

    }

    &__header {
      width: $full-width-height;
      margin-left: 5rem;
      margin-top: 1.875rem;
      margin-bottom: 1.875rem;
    }

  }


  // footer section
  .footer {
    padding-left: 120px;
    padding-right: 120px;

    &__body {
      width: 78%;

      &-top {
        gap: 60px;
      }

      &__block {

        &__copy {
          font-size: 14px;
        }

        &__header {
          width: 23%;
          margin: 0;
          margin-right: 18px;
        }

        &__icons {
          width: 11%;
        }

        &__bandsite-logo {
          left: 81%;
        }
      }
    }

  }
}