@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
/* fonts mobile */
body {
  margin: 0;
  font-family: "Avenir";
  padding: 0;
}

/* navigation bar mobile */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: 100%;
}

.nav-bar {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  flex-wrap: wrap;
}
.nav-bar__band-icon {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  padding-top: 1rem;
}
.nav-bar__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  text-decoration: none;
}
.nav-bar__list__item {
  width: 50%;
  text-align: center;
  padding-bottom: 0.625rem;
  text-decoration: none;
  color: #AFAFAF;
}
.nav-bar__list__item--selected {
  border-bottom: 3px solid white;
  color: white;
}
.nav-bar__list__item:hover {
  border-bottom: 3px solid white;
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 280px;
  box-sizing: border-box;
}
.hero__filter {
  box-sizing: border-box;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
  padding: 30px 20px 25px 15px;
}
.hero__filter__header {
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  width: 80%;
}
.hero__filter__text {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  color: white;
  font-weight: 400;
}
.hero__filter__sound {
  width: 100%;
  height: 45%;
}

.shows {
  box-sizing: border-box;
  padding-bottom: 15px;
}
.shows__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 25px 0 0 23px;
}
.shows__cards {
  padding: 23px;
  padding-top: 15px;
  border-bottom: solid 1px #E1E1E1;
}
.shows__cards__details {
  color: #AFAFAF;
  font-size: 13px;
  line-height: 18px;
  font-size: 9px;
  font-weight: 600;
  margin: 0;
}
.shows__cards__info {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-size: 12.3px;
  margin: 0 0 10px 0;
  font-weight: 400;
}
.shows__cards__info--bold {
  font-weight: 600;
}
.shows__cards__submit {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 5vh;
}
.shows__cards__submit__button {
  width: 100%;
  height: 100%;
  background-color: #323232;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 10px 0 100px 0;
}
.shows__cards__submit__button span {
  height: 100%;
  color: white;
  font-size: 15px;
}

.footer {
  background-color: #323232;
  color: white;
  padding: 16px;
}
.footer__body__block {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}
.footer__body__block__header {
  font-weight: 600;
  margin: 0;
  margin-bottom: 15px;
}
.footer__body__block__icons {
  width: 41%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.footer__body__block__s-header, .footer__body__block__info {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.footer__body__block__info p {
  margin: 0;
}
.footer__body__block__s-header {
  font-weight: 600;
}
.footer__body__block__info {
  font-size: 0.75rem;
  margin: 0;
}
.footer__body__block__info--bold {
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer__body__block__copy {
  margin-top: 0.925rem;
  font-size: 0.68rem;
}
.footer__body__block__bandsite-logo {
  margin-top: 1.563rem;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: 100%;
  }
  .nav-bar__band-icon {
    width: 20%;
    margin-right: 1.563rem;
    align-self: center;
    padding-bottom: 1.25rem;
    padding-left: 20px;
  }
  .nav-bar__list {
    width: 30%;
  }
  .nav-bar__list__item {
    width: 43%;
    padding-bottom: 1.563rem;
    padding-top: 1.25rem;
  }
  .hero {
    background-position: center 45%;
    box-sizing: border-box;
    width: 100vw;
    height: 440px;
  }
  .hero__filter {
    padding: 40px;
    padding-bottom: 100px;
  }
  .hero__filter__header {
    font-size: 60px;
    line-height: 68px;
    width: 80%;
    margin-top: 15px;
  }
  .hero__filter__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
  }
  .hero__filter__sound {
    width: 62%;
    height: 40%;
  }
  .shows {
    height: 650px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;
  }
  .shows__cards {
    display: flex;
    padding: 30px 40px 30px 40px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    text-align: left;
    box-sizing: border-box;
  }
  .shows__cards__info {
    margin: 0;
    width: 130px;
    font-size: 14px;
    line-height: 22px;
  }
  .shows__cards__details {
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 120px;
  }
  .shows__cards__details--hidden {
    display: none;
  }
  .shows__cards__submit {
    width: 145px;
    height: 40px;
    margin: 0;
  }
  .shows__cards__submit__button {
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .shows__header {
    justify-self: start;
    margin: 40px 0 55px 40px;
    font-size: 36px;
    line-height: 44px;
  }
  .footer {
    padding: 3.125rem;
    padding-top: 2.5rem;
    position: relative;
  }
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    height: 180px;
  }
  .footer__body__block1 {
    margin-left: 1.25rem;
  }
  .footer__body__block {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    max-width: 100%;
  }
  .footer__body__block--large {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    margin: 0;
    align-content: end;
    margin-bottom: 10px;
  }
  .footer__body__block__icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    align-items: end;
  }
  .footer__body__block__s-header, .footer__body__block__info {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 14px;
  }
  .footer__body__block__info p {
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
    font-weight: 300;
  }
  .footer__body__block__header {
    width: 31%;
    margin: 0;
    font-size: 36px;
    line-height: 44px;
    margin-right: 20px;
    height: 38px;
  }
  .footer__body__block__copy {
    width: 100%;
    margin: 0;
    margin-top: 0.938rem;
    font-size: 0.75rem;
  }
  .footer__body__block__bandsite-logo {
    position: absolute;
    left: 79%;
    top: 15%;
    margin: 0;
  }
  .footer__body__block-large {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.313rem;
    height: 40px;
    align-items: center;
    margin-bottom: 0.938rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__band-icon {
    margin: 0;
    margin-left: 60px;
    width: 200px;
  }
  .nav-bar__list {
    width: 140px;
  }
  .hero {
    height: 600px;
    background-position: center 28%;
  }
  .hero__text {
    width: 600px;
  }
  .hero__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
  }
  .hero__filter__text {
    margin-bottom: 20px;
  }
  .hero__filter__header {
    margin: 0;
  }
  .hero__filter__sound {
    width: 40%;
    height: 30%;
    margin: 0;
    margin-top: 20px;
  }
  .shows {
    padding: 0;
    padding-top: 15px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .shows__block {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 63%;
    padding-top: 80px;
  }
  .shows__header {
    height: 100%;
    width: 10%;
    margin-left: 120px;
  }
  .shows__cards {
    width: 97%;
    padding: 0;
    padding-right: 0;
  }
  .shows__cards__info--bold {
    padding-right: 90px;
  }
  .shows__cards__details {
    top: 72px;
  }
  .footer {
    padding-left: 120px;
    padding-right: 120px;
  }
  .footer__body {
    width: 78%;
    gap: 66px;
  }
  .footer__body__block__copy {
    font-size: 14px;
  }
  .footer__body__block__header {
    width: 23%;
    margin: 0;
    margin-right: 18px;
  }
  .footer__body__block__icons {
    width: 11%;
  }
  .footer__body__block__bandsite-logo {
    left: 81%;
  }
}/*# sourceMappingURL=shows.css.map */