@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
/* fonts mobile */
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

/* navigation bar mobile */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: 100%;
}

.nav-bar {
  background-color: #323232;
  color: #AFAFAF;
  display: flex;
  flex-wrap: wrap;
}
.nav-bar__band-icon {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  padding-top: 0.938rem;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  text-decoration: none;
}
.nav-list__item {
  width: 50%;
  text-align: center;
  padding-bottom: 0.625rem;
  text-decoration: none;
  color: #AFAFAF;
  font-weight: 300;
}
.nav-list__item--selected {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 600;
}
.nav-list__item:hover {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 17.5rem;
  box-sizing: border-box;
}
.hero__filter {
  box-sizing: border-box;
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
  padding: 1.875rem 1.25rem 1.563rem 0.938rem;
}
.hero__filter__header {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  width: 80%;
}
.hero__filter__text {
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
}
.hero__filter__sound {
  width: 100%;
  height: 45%;
}

#shows-section {
  margin-bottom: 0.625rem;
}

.shows-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 1.875rem 0 1.25rem 0.938rem;
}

.shows-block {
  display: none;
}

.show-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 0.938rem 0 0.938rem 0;
}

.show-pairs {
  width: 100%;
  align-items: center;
}
.show-pairs__date-label, .show-pairs__venue-label, .show-pairs__location-label {
  color: #AFAFAF;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-size: 0.563rem;
  font-weight: 600;
  margin: 0;
  padding-left: 0.938rem;
}
.show-pairs__date-input, .show-pairs__venue-input, .show-pairs__location-input {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 0.938rem;
}
.show-pairs__date-input--bold {
  font-weight: 600;
}

.submit-button {
  width: 90%;
  height: 60%;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0 0.5rem 0;
}
.submit-button__text {
  margin: 0;
  color: #FFFFFF;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 16px;
}
.footer__body__block {
  margin: 0.625rem 0 0.625rem 0;
}
.footer__body__block__header {
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.938rem;
}
.footer__body__block__icons {
  width: 41%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.footer__body__block__s-header, .footer__body__block__info {
  margin: 1.25rem 0 1rem 0;
}
.footer__body__block__info p {
  margin: 0;
}
.footer__body__block__s-header {
  font-weight: 600;
}
.footer__body__block__info {
  font-size: 0.75rem;
  margin: 0;
}
.footer__body__block__info--bold {
  margin: 0.938rem 0 1.563rem 0;
}
.footer__body__block__copy {
  margin-top: 0.925rem;
  font-size: 0.68rem;
}
.footer__body__block__bandsite-logo {
  margin-top: 1.563rem;
}

@media screen and (min-width: 768px) {
  .nav-bar__list__item {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .about-info__header,
  .photo-gallery__header,
  .footer__body__block__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .footer__body__block__s-header,
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .about-info__quote,
  .about-info__band {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about-info__by,
  .about-info__paragraphs__p1,
  .about-info__paragraphs__p2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: 100%;
  }
  .nav-bar__band-icon {
    width: 20%;
    margin-right: 1.563rem;
    align-self: center;
    padding-bottom: 1.25rem;
  }
  .nav-list {
    width: 30%;
  }
  .nav-list__item {
    width: 43%;
    padding-bottom: 1.563rem;
    padding-top: 1.25rem;
  }
  .hero {
    background-position: center 45%;
    box-sizing: border-box;
    width: 100vw;
    height: 27.5rem;
  }
  .hero__filter {
    padding: 2.5rem;
    padding-bottom: 6.25rem;
  }
  .hero__filter__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    width: 80%;
    margin-top: 0.938rem;
  }
  .hero__filter__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
  }
  .hero__filter__sound {
    width: 62%;
    height: 40%;
  }
  #shows-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.875rem;
    align-items: center;
  }
  .shows-header {
    justify-self: start;
    margin: 3rem 40rem 2rem 5rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    display: flex;
  }
  .show-pairs__date-label, .show-pairs__venue-label, .show-pairs__location-label {
    display: none;
  }
  .shows-block {
    width: 80%;
    display: flex;
    margin-right: 12.5rem;
  }
  .shows-block__date, .shows-block__location, .shows-block__venue {
    color: #AFAFAF;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-size: 0.563rem;
    font-weight: 600;
    margin: 0;
  }
  .shows-block__location {
    padding-left: 8.75rem;
  }
  .shows-block__date {
    padding: 0;
    padding-left: 4.75rem;
  }
  .shows-block__venue {
    padding: 0;
    padding-left: 9.063;
  }
  .show-cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
  }
  .show-pairs {
    width: 24%;
  }
  .submit-button {
    width: 22%;
    margin-left: 1.875;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.438rem;
  }
  .submit-button__text {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .footer {
    padding: 3.125rem;
    padding-top: 2.5rem;
    position: relative;
  }
  .footer__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.875rem;
    height: 11.25rem;
  }
  .footer__body__block1 {
    margin-left: 1.25rem;
  }
  .footer__body__block {
    margin: 0.625rem 0 0.625rem 0;
    max-width: 100%;
  }
  .footer__body__block--large {
    display: flex;
    flex-wrap: wrap;
    height: 3.125rem;
    margin: 0;
    align-content: end;
    margin-bottom: 0.625rem;
  }
  .footer__body__block__icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    align-items: end;
  }
  .footer__body__block__s-header, .footer__body__block__info {
    margin: 1.25rem 0 1.25rem 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer__body__block__info p {
    margin: 0.313rem 0 0.313rem 0;
    font-weight: 300;
  }
  .footer__body__block__header {
    width: 31%;
    margin: 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-right: 1.25rem;
    height: 2.375rem;
  }
  .footer__body__block__copy {
    width: 100%;
    margin: 0;
    margin-top: 0.938rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  .footer__body__block__bandsite-logo {
    position: absolute;
    left: 79%;
    top: 15%;
    margin: 0;
  }
  .footer__body__block-large {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    margin: 0.313rem 0 0.938rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar {
    height: 5rem;
  }
  .nav-bar__band-icon {
    margin: 0 3.75rem 0 7.5rem;
    width: 8%;
    padding-top: 2.188rem;
  }
  .nav-list {
    width: 20%;
  }
  .nav-list__item {
    padding: 3.125rem 0 1.25rem 0;
  }
  nav {
    height: 80%;
  }
  .hero {
    height: 37.5rem;
    background-position: center 28%;
  }
  .hero__text {
    width: 37.5rem;
  }
  .hero__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
  .hero__filter__text {
    margin-bottom: 1.25rem;
  }
  .hero__filter__header {
    margin: 0;
  }
  .hero__filter__sound {
    width: 40%;
    height: 30%;
    margin: 0;
    margin-top: 1.25rem;
  }
  .shows-block__venue {
    padding-left: 16.563;
  }
  .shows-block__location {
    padding-left: 15.938rem;
  }
  #shows-section {
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin-right: 6.25rem;
  }
  .shows-block {
    margin: 1.25rem 0 0 0;
    width: 80%;
  }
  .shows-block__date {
    padding-left: 9.375;
  }
  .shows-block__venue {
    padding-left: 14.688rem;
  }
  .shows-block__location {
    padding-left: 8.438rem;
  }
  .shows-header {
    height: 100%;
    width: 10%;
    margin: 0;
  }
  .show-cards {
    width: 67%;
    padding: 1.25rem;
    padding-right: 1.25rem;
  }
  .show-cards__info--bold {
    padding-right: 5.625rem;
  }
  .show-cards__details {
    top: 4.5rem;
  }
  .show-pairs {
    width: 23%;
  }
  .show-pairs__date-input {
    width: 60%;
  }
  .show-pairs__venue-input {
    width: 50%;
    padding-left: 5rem;
  }
  .show-pairs__location-input {
    width: 55%;
    padding-left: 3.125rem;
  }
  .footer {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
  .footer__body {
    width: 78%;
    gap: 4.125rem;
  }
  .footer__body__block__copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer__body__block__header {
    width: 23%;
    margin: 0;
    margin-right: 1.125rem;
  }
  .footer__body__block__icons {
    width: 11%;
  }
  .footer__body__block__bandsite-logo {
    left: 81%;
  }
}/*# sourceMappingURL=shows.css.map */