@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

/* fonts mobile */
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

/* navigation bar mobile */
.nav-bar nav,
.nav-bar,
.nav-bar__list {
  width: $full-width-height;
}

.nav-bar {
  background-color: $bandsite-black;
  color: $silver;
  display: flex;
  flex-wrap: wrap;

  &__band-icon {
    width: $full-width-height;
    text-align: center;
    padding: 0.5rem;
    padding-top: 0.938rem;
  }
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  text-decoration: none;

  &__item {
    width: 50%;
    text-align: center;
    padding-bottom: 0.625rem;
    text-decoration: none;
    color: $silver;
    font-weight: 300;

    &--selected {
      border-bottom: 3px solid $white;
      color: $white;
      font-weight: 600;
    }

    &:hover {
      border-bottom: 3px solid $white;
      color: $white;
    }
  }
}

// hero section
.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 17.5rem;
  box-sizing: border-box;

  &__filter {
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.5);
    height: 100%;
    width: 100%;
    padding: 1.875rem 1.25rem 1.563rem 0.938rem;

    &__header {
      color: $white;
      @include p-s-header-font-mob;
      font-weight: 600;
      width: 80%;
    }

    &__text {
      @include b-f-font-mob;
      margin: 0;
      color: $white;
      font-weight: 400;
    }

    &__sound {
      width: 100%;
      height: 45%;
    }
  }
}

// SHOWS SECTION
#shows-section {
  margin-bottom: 0.625rem;
}
.shows-header {
  @include p-s-header-font-mob;
  font-weight: 600;
  margin: 1.875rem 0 1.25rem 0.938rem;
}

.shows-block {
  display: none;
}

.show-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid $mercury;
  padding: 0.938rem 0 0.938rem 0;
}
.show-pairs {
  width: 100%;
  align-items: center;

  &__date-label,
  &__venue-label,
  &__location-label {
    color: $silver;
    @include b-f-font-mob;
    font-size: 0.563rem;
    font-weight: 600;
    margin: 0;
    padding-left: 0.938rem;
  }
  &__date-input,
  &__venue-input,
  &__location-input {
    @include subHeader-font-mob;
    font-size: 0.75rem;
    font-weight: 400;
    padding-left: 0.938rem;
  }
  &__date-input--bold {
    font-weight: 600;
  }
}

.submit-button {
  width: 90%;
  height: 60%;
  background-color: $bandsite-black;
  color: $white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0 0.5rem 0;
  &__text {
    margin: 0;
    color: $white;
    @include b-font-d-t;
    font-weight: 600;
  }
}

//footer
.footer {
  background-color: $bandsite-black;
  color: $white;
  padding: $padding;

  &__body {
    &__block {
      margin: 0.625rem 0 0.625rem 0;

      &__header {
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.938rem;
      }

      &__icons {
        width: 41%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      &__s-header,
      &__info {
        margin: 1.25rem 0 1rem 0;
      }

      &__info p {
        margin: 0;
      }

      &__s-header {
        font-weight: 600;
      }

      &__info {
        font-size: 0.75rem;
        margin: 0;

        &--bold {
          margin: 0.938rem 0 1.563rem 0;
        }
      }

      &__copy {
        margin-top: 0.925rem;
        font-size: 0.68rem;
      }

      &__bandsite-logo {
        margin-top: 1.563rem;
      }
    }
  }
}

// TABLET
// navigation bar
@media screen and (min-width: 768px) {
  .nav-bar__list__item {
    @include labelsANDbuttons-font-d-t;
  }

  .hero__text {
    @include p-header-font-d-t;
  }

  .about-info__header,
  .photo-gallery__header,
  .footer__body__block__header {
    @include s-header-font-d-t;
  }

  .footer__body__block__s-header,
  .footer {
    @include f-font-d-t;
  }

  .about-info__quote,
  .about-info__band {
    @include subHeader-font-d-t;
  }

  .about-info__by,
  .about-info__paragraphs__p1,
  .about-info__paragraphs__p2 {
    @include b-font-d-t;
  }

  // navigation bar
  nav {
    display: flex;
    align-items: center;
    max-width: 70%;
    height: $full-width-height;
  }

  .nav-bar {
    &__band-icon {
      width: 20%;
      margin-right: 1.563rem;
      align-self: center;
      padding-bottom: 1.25rem;
    }
  }
  .nav-list {
    width: 30%;

    &__item {
      width: 43%;
      padding-bottom: 1.563rem;
      padding-top: 1.25rem;
    }
  }

  // hero section
  .hero {
    background-position: center 45%;
    box-sizing: border-box;
    width: 100vw;
    height: 27.5rem;

    &__filter {
      padding: 2.5rem;
      padding-bottom: 6.25rem;

      &__header {
        @include p-header-font-d-t;
        width: 80%;
        margin-top: 0.938rem;
      }

      &__text {
        @include subHeader-font-d-t;
        font-weight: 300;
      }

      &__sound {
        width: 62%;
        height: 40%;
      }
    }
  }

  // SHOWS SECTION

  #shows-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.875rem;
    align-items: center;
  }
  .shows-header {
    justify-self: start;
    margin: 3rem 40rem 2rem 5rem;
    @include s-header-font-d-t;
    display: flex;
  }

  .show-pairs {
    &__date-label,
    &__venue-label,
    &__location-label {
      display: none;
    }
  }
  .shows-block {
    width: 80%;
    display: flex;
    margin-right: 12.5rem;

    &__date,
    &__location,
    &__venue {
      color: $silver;
      @include b-f-font-mob;
      font-size: 0.563rem;
      font-weight: 600;
      margin: 0;
    }
    &__location {
      padding-left: 8.75rem;
    }

    &__date {
      padding: 0;
      padding-left: 4.75rem;
    }

    &__venue {
      padding: 0;
      padding-left: 9.063;
    }
  }
  .show-cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
  }

  .show-pairs {
    width: 24%;
  }

  .submit-button {
    width: 22%;
    margin-left: 1.875;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.438rem;
    &__text {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  // footer
  .footer {
    padding: 3.125rem;
    padding-top: 2.5rem;
    position: relative;

    &__body {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 1.875rem;
      height: 11.25rem;

      &__block1 {
        margin-left: 1.25rem;
      }

      &__block {
        margin: 0.625rem 0 0.625rem 0;
        max-width: $full-width-height;

        &--large {
          display: flex;
          flex-wrap: wrap;
          height: 3.125rem;
          margin: 0;
          align-content: end;
          margin-bottom: 0.625rem;
        }

        &__icons {
          width: 15%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          align-items: end;
        }

        &__s-header,
        &__info {
          margin: 1.25rem 0 1.25rem 0;
          @include b-font-d-t;
        }

        &__info p {
          margin: 0.313rem 0 0.313rem 0;
          font-weight: 300;
        }

        &__header {
          width: 31%;
          margin: 0;
          @include s-header-font-d-t;
          margin-right: 1.25rem;
          height: 2.375rem;
        }

        &__copy {
          width: $full-width-height;
          margin: 0;
          margin-top: 0.938rem;
          @include labelsANDbuttons-font-d-t;
        }

        &__bandsite-logo {
          position: absolute;
          left: 79%;
          top: 15%;
          margin: 0;
        }
      }

      &__block-large {
        display: flex;
        flex-wrap: wrap;
        width: $full-width-height;
        height: 2.5rem;
        align-items: center;
        margin: 0.313rem 0 0.938rem 0;
      }
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  // navigation bar
  .nav-bar {
    height: 5rem;

    &__band-icon {
      margin: 0 3.75rem 0 7.5rem;
      width: 8%;
      padding-top: 2.188rem;
    }
  }
  .nav-list {
    width: 20%;

    &__item {
      padding: 3.125rem 0 1.25rem 0;
    }
  }

  nav {
    height: 80%;
  }

  .hero {
    height: 37.5rem;
    background-position: center 28%;

    &__text {
      width: 37.5rem;
    }

    &__filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 7.5rem;
      padding-right: 7.5rem;

      &__text {
        margin-bottom: 1.25rem;
      }

      &__header {
        margin: 0;
      }

      &__sound {
        width: 40%;
        height: 30%;
        margin: 0;
        margin-top: 1.25rem;
      }
    }
  }

  // SHOWS SECTION
  .shows-block {
    &__venue {
      padding-left: 16.563;
    }
    &__location {
      padding-left: 15.938rem;
    }
  }
  #shows-section {
    padding: 0;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin-right: 6.25rem;
  }
  .shows-block {
    margin: 1.25rem 0 0 0;
    width: 80%;

    &__date {
      padding-left: 9.375;
    }
    &__venue {
      padding-left: 14.688rem;
    }
    &__location {
      padding-left: 8.438rem;
    }
  }

  .shows-header {
    height: 100%;
    width: 10%;
    margin: 0;
  }

  .show-cards {
    width: 67%;
    padding: 1.25rem;
    padding-right: 1.25rem;

    &__info--bold {
      padding-right: 5.625rem;
    }

    &__details {
      top: 4.5rem;
    }
  }

  .show-pairs {
    width: 23%;
    &__date-input {
      width: 60%;
    }

    &__venue-input {
      width: 50%;
      padding-left: 5rem;
    }

    &__location-input {
      width: 55%;
      padding-left: 3.125rem;
    }
  }
  // footer section
  .footer {
    padding-left: 7.5rem;
    padding-right: 7.5rem;

    &__body {
      width: 78%;
      gap: 4.125rem;

      &__block {
        &__copy {
          @include b-font-d-t;
        }

        &__header {
          width: 23%;
          margin: 0;
          margin-right: 1.125rem;
        }

        &__icons {
          width: 11%;
        }

        &__bandsite-logo {
          left: 81%;
        }
      }
    }
  }
}
